
Тема покупки скрипта для DLE
https://twdhub-a.usite.pro/load/dew_dle/registracija_s_telefonom_dle/2-1-0-18



Платный модуль, разработан под сайт lbd24.com

Краткие характеристики:


- Интеграция с profile.php
 - Интеграция с register.php
 - Интеграция с AJAX
- Интеграция с engine.php
- Добавлены столбцы в Базу Данных в таблицу dle_users
- Установлена jQuery заглушка для ввода номера, с кодом, а не буквами
- Имеется возможность редактировать, изменять номер через Личный Кабинет.
- Тонкая настройка отображения по категориям пользователей, то-есть:

Вариант с регистрацией через авто-сброс звонка, СМС-код в разработке. Причина: Под CMS DLE данные модули не производились, либо производились, но в малых количествах, и на Данный момент они не известны.
-- Видит только пользователь и админы сайта
-- Видят только зарегистрированные пользователи
-- Видят все пользователи.
-- Видят только Админы сайта.
Конфигурация:


- от 1 таблицы базы данных MySqli
- модификация файла регистрацииregister.php
- модификация profile.php
- правка шаблонов профиля и регистрации
- Заглушка для ввода цифр, а не букв и символов
- Заглушка с кодом оператора страны (пример, для Беларуси +375(__)-___-__-__)

- Адаптация вызова из браузера по нажатию на номер: С телефона сразу-же предложат вам набрать номер!
Безопасность:

Данные вводятся в Базу Данных, защищены антивирусом движка, а также блокировками.

Возможности:

Легкая настройка видимости на сайте, В личном Кабинете. Можно настроить так, чтобы после регистрации телефон видел только хозяин и администрация сайта, и наоборот. Вариантов много.

Настройка возможностей изменения или добавления номера. Можно настроить, чтобы пользователь мог сам в любой момент изменить номер, либо убрать у него данную возможность, либо оставив возможность добавлять, но не редактировать. А если номер был введен не верно, есть связь с администрацией. Указав реальные данные, пользователь получит искомое.

Для кого?

Для сайтов организаций, фирм, контор. Валидация с номером отсутствует, так как цель в первую очередь, это сбор данных о пользователях, клиентах, сотрудниках, чтобы можно было легко с ними связаться. А также иметь под рукой список всех номеров любого клиента, сотрудника.

Так-же подойдет для сайтов различный обществ, со схожими целями, для сайтов прочих направлений.

Дополнительные Услуги

Установка на сайт, сопровождение, настройка под ваши требования.
